    <footer class="container">
        <div class="footer-content">
            <div>
                <h3>Storeez</h3>
                <p>Find awesome stories</p>
            </div>
            <div>
                <h4>Home</h4>
                <a class="footer-link" href="/">About</a>
                <a class="footer-link" href="/">More Information</a>
            </div>
            <div>
                <h3>Posts</h3>
                <a class="footer-link" href="/posts">New stories</a>
                <a class="footer-link" href="/posts">Old stories</a>
            </div>
            <div>
                <h3>Share</h3>
                <a class="footer-link" href="">Reach out</a>
            </div>
            <div>
                <h3>Feedback</h3>
                <a class="footer-link" href="">Review</a>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright &copy; Andrew Igbeinkutu | 8790859</p>
    </footer>
</body>
</html>