    <footer class="container">
        <div class="footer-content">
            <div>
                <h3>Moveez</h3>
                <p>Find awesome movies</p>
            </div>
            <div>
                <h4>Home</h4>
                <a class="footer-link" href="">About</a>
                <a class="footer-link" href="">Recent movies</a>
                <a class="footer-link" href="">Links</a>
                <a class="footer-link" href="">More Info</a>
            </div>
            <div>
                <h3>Media</h3>
                <a class="footer-link" href="">Pictures</a>
                <a class="footer-link" href="">Videos</a>
            </div>
            <div>
                <h3>Table</h3>
                <a class="footer-link" href="Know more"></a>
            </div>
            <div>
                <h3>Feedback</h3>
                <a class="footer-link" href="">Review</a>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright &copy; Andrew Igbeinkutu | 8790859</p>
    </footer>
</body>
</html>