 <nav class="navigation">
        <a href="/" class="brand container">
            <img  class="logo-image" src="/images/logo.png" alt="logo-image">
            <div class="logo-text">Storeez</div>
        </a>
        <!-- Main menu -->
        <ul class="links">
            <li class="link"><a href="index.html">Home</a></li>
            <li class="link parent-link">
                <a href="/posts">Posts</a>
                <!-- Sub menu -->
                <ul class="child-link">
                    <li class="sub-link"><a href="/">----------</li></a>
                </ul>
            </li>
            
                
            <li class="link create-post"><a class="post-link" href="/create-post">Create Post</a></li>
        </ul>
    </nav>