<%- include("./layouts/head") %>
    <!-- NAVBAR -->
<%- include("./layouts/nav") %>
    <section class="form-section all-posts">
        <div>
            <p> <%= message %> </p>
        </div>
    </section>
<%- include('./layouts/footer'); -%>