<%- include("./layouts/head") %>
    <!-- NAVBAR -->
<%- include("./layouts/nav") %>

    <!-- MAIN  -->
    <div class="main-content-image">
                <div class="main-content-text">
                    <h1 class="main-content-heading">Storeez</h1>
                    <p class="main-content-subheading">Awesome short stories</p>
                </div>
            </div>
    <main class="main-class container">

        <section class="main-content container">
            
            <div class="info">
                <h2>Welcome to Moveez</h2>
                <p class="welcome-text">A site that helps you find great movies of all genres, age and rating.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed elementum velit. Nam euismod tortor nec dapibus viverra. Duis non vestibulum nunc. Fusce quam sapien, dictum eget interdum at, dignissim vel diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt orci ut nisi porttitor, sed pharetra lectus imperdiet. Integer in commodo nulla. Pellentesque dictum augue enim, ut egestas orci malesuada quis. 
                </p>
            </div>

            <section class="details">
                <h2 class="detail-steps">Steps</h2>
                <p class="detail-note">Steps to get great movies</p>
        
                <div class="detail-process">
                    <div>
                        <img class="detail-image" src="./images/icons8-internet-100.png" alt="">
                        <div>
                            <h3>Visit</h3>
                            <p>Log on to our user-friendly website</p>
                        </div>
                    </div>
                    <div>
                        <img class="detail-image" src="./images/icons8-search-50.png" alt="">
                        <div>
                            <h3>Search</h3>
                            <p>Search for movies of different genres and years</p>
                        </div>
                    </div>
                    <div>
                        <img class="detail-image" src="./images/icons8-movie-50.png" alt="">
                        <div>
                            <h3>Watch</h3>
                            <p>Get comfy and enjoy a movie</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="recent">
                <h3>Recent movies</h3>
                <div class="cards">
                <article class="poster">
                    <figure class="fig-poster">
                        <a href="">
                            <img class="new-movie-image" src="/images/Barbarians.jpg" alt="red-barbarians-poster">
                        </a>
                        <figcaption>Barbarians</figcaption>
                    </figure>
                </article>
                <article class="poster">
                    <figure class="fig-poster">
                        <a href="">
                            <img class="new-movie-image" src="/images/contractor.jpg" alt="contractor-poster">
                        </a>
                        <figcaption>Contractor</figcaption>
                    </figure>
                </article>
                
                </div>
            </div>

            <div class="relax-section">
                <div class="relax">
                    <h3 class="relax-heading">Relax!</h3>
                    <p class="relax-text">We got you.</p>
                </div>
            </div>

            <div class="stress-free">
                <p class="unwind">Feel like Unwinding?</p>
                <p class="refresh">Life can take a toll on us sometimes. A movie can be a way to reduce stress and anxiety. 
                    We'd love to make you feel refreshed!</p>
            </div>
        </section>

    </main>
<%- include("./layouts/footer") %>
