<%- include("./layouts/head") %>
    <!-- NAVBAR -->
<%- include("./layouts/nav") %>

    <!-- MAIN  -->
    <div class="main-content-image">
                <div class="main-content-text">
                    <h1 class="main-content-heading">Storeez</h1>
                    <p class="main-content-subheading">Awesome short stories</p>
                </div>
            </div>
    <main class="main-class container">

        <section class="main-content">
            
            <div class="info">
                <h2>Welcome to Storeez</h2>
                <p class="welcome-text">A site that helps you find great and inspirational short stories.
                </p>
            </div>

            <section class="details">
                <h4 class="detail-steps">You get the best of stories</h4>
        
                <div class="detail-process">
                    <div>
                        <img class="detail-image" src="./images/icons8-time-50.png" alt="">
                        <div>
                            <h3>Short</h3>
                            <p>Truly interesting short stories</p>
                        </div>
                    </div>
                    <div>
                        <img class="detail-image" src="./images/icons8-read-online-80.png" alt="">
                        <div>
                            <h3>Inspiring</h3>
                            <p>You'll get inspired</p>
                        </div>
                    </div>
                    <div>
                        <img class="detail-image" src="./images/icons8-share-64.png" alt="">
                        <div>
                            <h3>Share</h3>
                            <p>It's always a good idea to share</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <div class="recent">
                <h3>Recent movies</h3>
                <div class="cards">
                <article class="poster">
                    <figure class="fig-poster">
                        <a href="">
                            <img class="new-movie-image" src="/images/Barbarians.jpg" alt="red-barbarians-poster">
                        </a>
                        <figcaption>Barbarians</figcaption>
                    </figure>
                </article>
                <article class="poster">
                    <figure class="fig-poster">
                        <a href="">
                            <img class="new-movie-image" src="/images/contractor.jpg" alt="contractor-poster">
                        </a>
                        <figcaption>Contractor</figcaption>
                    </figure>
                </article>
                
                </div>
            </div> -->

            <div class="relax-section">
                <div class="relax">
                    <h3 class="relax-heading">Relax!</h3>
                    <p class="relax-text">We got you.</p>
                </div>
            </div>

            <div class="stress-free">
                <p class="unwind">Feel like Unwinding?</p>
                <p class="refresh">Life can take a toll on us sometimes. A movie can be a way to reduce stress and anxiety. 
                    We'd love to make you feel refreshed!</p>
            </div>
        </section>

    </main>
<%- include("./layouts/footer") %>
